In [1]:
import pandas as pd
import random

In [2]:
# Constants
OUTPUT_FILE_PATH = '.\\data\\sample\\sample_1.xlsx'
TOTAL_ROWS = 100

NAMES_FILE_PATH = '.\\data\\resources\\names.csv'

COLUMNS = ['First Name', 'Last Name', 'Class Standing', 'Cum GPA', 'Major Code', 'Dept']
DEPTS = ['CSE', 'ECE', 'MATH', 'BENG']
CLASS_STANDINGS = ['SO', 'JR', 'SR']
DEPTS_MAJORS = dict()  # bit of a faux-pas...
DEPTS_MAJORS['CSE'] = ['CS25', 'CS26', 'CS27', 'CS28']
DEPTS_MAJORS['ECE'] = ['EC26', 'EC27', 'EC28']
DEPTS_MAJORS['MATH'] = ['MA30']
DEPTS_MAJORS['BENG'] = ['BE25', 'BE26', 'BE27', 'BE28']
NAMES = pd.read_csv(NAMES_FILE_PATH, header=None).T.values[0]

In [3]:
# Get randomized rows
rows_list = list()
for i in range(TOTAL_ROWS):
    row = dict()
    row['First Name'] = random.choice(NAMES)
    row['Last Name'] = random.choice(NAMES)
    row['Dept'] = random.choice(DEPTS)
    row['Major Code'] = random.choice(DEPTS_MAJORS[row['Dept']])
    row['Class Standing'] = random.choice(CLASS_STANDINGS)
    row['Cum GPA'] = round(random.random() * 4, 5)
    rows_list.append(row)

# Create DF
df = pd.DataFrame(rows_list, columns=COLUMNS)

# View DF
df.head()

  First Name  Last Name Class Standing  Cum GPA Major Code  Dept
0     Martha       John             SO  1.99339       CS25   CSE
1     Thomas   Jennifer             SO  2.81333       BE25  BENG
2     Johnny    Heather             SO  0.18897       MA30  MATH
3    Beverly   Michelle             SR  0.71435       CS25   CSE
4     Austin  Christine             JR  2.12224       EC28   ECE

In [4]:
# Output DF
df.to_excel(OUTPUT_FILE_PATH)